<!-- BEGINNING FOOTER -->
<footer>
    <div class="container ">
      <!-- <div class="col-md-12 box "> 
        <ul class="list-inline social-buttons text-center">
          <li class="list-inline-item">
            <a href="https://twitter.com/jennifertoops" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
          </li>
          <li class="list-inline-item">
            <a href="https://facebook.com/jenntoops" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
          </li>
          <li class="list-inline-item">
            <a href="https://linkedin.com/in/jennifertoops" target ="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
          </li>
        </ul>
      </div>
        
-->
    <!-- ELLIPSES -->

      <!-- <div class="text-center"><i class="fas fa-ellipsis-h"></i></div> -->
      <!-- <hr>  -->

    <!-- BOTTOM ROW: COPYRIGHT, SOCIAL LINKS & PRIVACY -->

      <div class="row text-center">
        <div class="col-md-4 box">
          <span class="nav-link copyright quick-links">Copyright &copy; Jennifer Toops <script>document.write(new Date().getFullYear())</script>
          </span>
        </div>
        <div class="col-md-2 box">
          <ul class="list-inline text-center">
              <li class="list-inline-item">
                  <a class="nav-link" href="mailto:dev@jennifertoops.com?subject=My&nbsp;Closet&nbsp;Organizer&body=Message"><i class="fas fa-envelope"></i>  Contact us</a>
              </li>
          </ul>
        </div>

        <div class="col-md-2 box "> 
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://twitter.com/jennifertoops" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
            </li>
            <li class="list-inline-item">
              <a href="https://facebook.com/jenntoops" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
            </li>
            <li class="list-inline-item">
              <a href="https://linkedin.com/in/jennifertoops" target ="_blank">
              <i class="fab fa-linkedin-in"></i>
            </a>
            </li>
          </ul>
        </div>


        <div class="col-md-4 box">
          <ul class="list-inline quick-links">
            <li class="list-inline-item">
              <a class="nav-link" href="https://www.privacypolicies.com/live/c1d40fb2-67fa-4ce9-a9a6-fd4fb10d514d" target="_blank">Privacy Policy</a>
            </li>
          </ul>
        </div>

      </div>
  </footer>

  <!-- END FOOTER -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>   
</body>
</html>