<%- include('partials/header') -%>

<main class="container">
    <div class="jumbotron">
    <div class="row justify-content-around mt-5">
        <h1 class="justify-content-center">Build Your Wardrobe</h1>
        <a href="/login" class="col-3 btn btn-dark"> Login</a>
        <a href="/signup" class="col-3 btn btn-dark"> Signup</a>
    </div>
</div>
</main>
    

<%- include('partials/footer') -%>